@model ExileContactManagement.Models.User

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to ExileContactManagement....</h2>
<p>More secured contact management system is now at your finger tips. You can access from anywhere in the globe.
</p>
<p>Register today and enjoy.......It is totally free......</p>